@font-face {
  font-family: Cera Round Pro;
  src: url(../../fonts/cera-round-pro-free-font/Demo_fonts/Fontspring-DEMO-ceraroundpro-black.otf);
}
@font-face {
  font-family: Cera Round Pro;
  src: url(../../fonts/cera-round-pro-free-font/Demo_fonts/Fontspring-DEMO-ceraroundpro-bold.otf);
}
@font-face {
  font-family: Cera Round Pro;
  src: url(../../fonts/cera-round-pro-free-font/Demo_fonts/Fontspring-DEMO-ceraroundpro-black.otf);
}
@font-face {
  font-family: Cera Round Pro;
  src: url(../../fonts/cera-round-pro-free-font/Demo_fonts/Fontspring-DEMO-ceraroundpro-light.otf);
}
@font-face {
  font-family: Cera Round Pro;
  src: url(../../fonts/cera-round-pro-free-font/Demo_fonts/Fontspring-DEMO-ceraroundpro-medium.otf);
}
@font-face {
  font-family: Cera Round Pro;
  src: url(../../fonts/cera-round-pro-free-font/Demo_fonts/Fontspring-DEMO-ceraroundpro-regular.otf);
}
@font-face {
  font-family: Cera Round Pro;
  src: url(../../fonts/cera-round-pro-free-font/Demo_fonts/Fontspring-DEMO-ceraroundpro-thin.otf);
}
@font-face {
  font-family: Open Sans;
  src: url(../../fonts/Open_Sans/static/OpenSans-Light.ttf);
}
@font-face {
  font-family: Open Sans;
  src: url(../../fonts/Open_Sans/static/OpenSans-Regular.ttf);
}
@font-face {
  font-family: Open Sans;
  src: url(../../fonts/Open_Sans/static/OpenSans-Medium.ttf);
}
@font-face {
  font-family: Open Sans;
  src: url(../../fonts/Open_Sans/static/OpenSans-SemiBold.ttf);
}
@font-face {
  font-family: Open Sans;
  src: url(../../fonts/Open_Sans/static/OpenSans-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.container_m, .container-sm {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container_m {
  max-width: 1340px;
}

.container-sm {
  max-width: 760px;
}

#loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  opacity: 0.8;
  transition: 2s;
  z-index: 10000;
}

#loading.loading-none {
  opacity: 0;
  z-index: -1;
}

@keyframes ldio-fw6u0p7j8pm {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-fw6u0p7j8pm div {
  position: absolute;
  animation: ldio-fw6u0p7j8pm 1s linear infinite;
  width: 160px;
  height: 160px;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #e15b64;
  transform-origin: 80px 82px;
}

.loadingio-spinner-eclipse-hhrro25cmbp {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}

.ldio-fw6u0p7j8pm {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-fw6u0p7j8pm div {
  box-sizing: content-box;
}

/* generated by https://loading.io/ */
.navbar {
  background-color: #bb2339;
}
.navbar a {
  color: white;
}
.navbar a:hover {
  color: #bbbbcb;
}
.navbar .nav__btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}
.navbar .sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .sign svg {
  width: 17px;
}
.navbar .sign svg path {
  fill: white;
}
.navbar .text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}
.navbar .nav__btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}
.navbar .nav__btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
.navbar .nav__btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
.navbar .nav__btn:active {
  transform: translate(2px, 2px);
}
.navbar .offcanvas {
  background: #bb2339;
}
.navbar .offcanvas-body {
  color: pink;
}
.navbar .navbar-toggler {
  color: white;
  background: white;
}

.menu__type {
  padding-top: 70px;
}
.menu__type p {
  padding-top: 70px;
  color: #b0b0b0;
}
.menu__type p .menu__a {
  color: #bb2339;
}
.menu__type p a {
  text-decoration: none;
  color: #b0b0b0;
}

.contact__h1 {
  text-align: center;
}
.contact__h1 h1 {
  color: #242424;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Cera Round Pro;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 83.2px */
  letter-spacing: 1.92px;
  text-transform: capitalize;
}

.contact__father .phone {
  display: flex;
  align-items: center;
  padding: 40px 40px;
  gap: 15px;
  width: 420px;
  height: 110px;
  flex-shrink: 0;
  border-radius: 14px;
  border: 1px solid rgba(36, 36, 36, 0.1);
  background: #fff;
  margin-bottom: 20px;
}
.contact__father .phone h2 {
  color: #242424;
  font-family: Open Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 3px;
}
.contact__father .phone p {
  margin-bottom: -10px;
}

.gmail {
  padding: 10px;
  width: 790px;
  height: 610px;
  flex-shrink: 0;
  border-radius: 14px;
  border: 1px solid rgba(36, 36, 36, 0.1);
  background: #fff;
}
.gmail h1 {
  gap: 5px;
  color: #242424;
  font-family: Open Sans;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px; /* 89.474% */
}
.gmail p {
  color: #242424;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.gmail input {
  margin: 20px 2px;
  padding: 20px 20px;
  gap: 15px;
  width: 255px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid rgba(36, 36, 36, 0.1);
  background: #fff;
}
.gmail textarea {
  padding: 20px 20px;
  width: 530px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 14px;
  border: 1px solid rgba(36, 36, 36, 0.1);
  background: #fff;
}
.gmail button {
  margin-top: 20px;
  padding: 18px 45px;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 10px;
  border: 1px solid #bb2339;
  border-radius: 39px;
  background: var(--qizil, #bb2339);
  transition: 0.5s;
}
.gmail button:hover {
  color: #bb2339;
  background: white;
}

.map h2 {
  text-align: center;
  padding: 110px 0 10px 0;
}
.map iframe {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

#turk__card {
  padding-top: 100px;
  width: 100%;
}

.father__card {
  padding-bottom: 200px;
  position: relative;
}
.father__card .nest__card {
  position: absolute;
  bottom: -120px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: var(--qizil, #bb2339);
  box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
  padding: 32px 4px;
}
@media (min-width: 580px) {
  .father__card .nest__card {
    padding: 64px 120px;
  }
}
.father__card .nest__card h3 {
  color: var(--ffffff, #fff);
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Cera Round Pro;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 29.9px */
  letter-spacing: 0.92px;
  text-transform: capitalize;
}
.father__card .nest__card h1 {
  color: #fff;
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Cera Round Pro;
  font-size: 49px;
  font-style: normal;
  font-weight: 1000;
  line-height: 130%; /* 62.4px */
  letter-spacing: 1.44px;
  text-transform: capitalize;
}
.father__card .nest__card p {
  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 100;
  line-height: 75%;
  letter-spacing: 0.64px;
}
.father__card .nest__card .nest__btn {
  display: flex;
  width: 100%;
  gap: 32px;
}
.father__card .nest__card .nest__btn input {
  width: 70%;
  padding: 12px 19px;
  border-radius: 100px;
  border: 1px solid rgba(245, 239, 219, 0.5);
  background: transparent;
}
.father__card .nest__card .nest__btn button {
  padding: 12px 32px;
  background: transparent;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid #fff;
}
.father__card .nest__card .nest__btn button:hover {
  transition: 0.5s;
  background-color: white;
  color: red;
}
@media (max-width: 420px) {
  .father__card button,
  .father__card input {
    display: flex;
    flex-direction: column;
  }
}

#foot {
  padding-top: 120px;
  background-color: #bb2339;
}

.father__foot {
  text-align: center;
  align-items: center;
}
.father__foot .contact__foot h2 {
  color: #fff;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Cera Round Pro;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 41.6px */
  letter-spacing: 1.28px;
  text-transform: capitalize;
}
.father__foot .contact__foot p {
  padding: 10px 0;
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 100;
  line-height: 26px;
  letter-spacing: 0.64px;
}
.father__foot .logo__foot p {
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 100;
  line-height: 26px;
  letter-spacing: 0.64px;
}
.father__foot .logo__foot img {
  gap: 16px;
  padding: 20px 0 40px 0;
}
.father__foot .work__foot h2 {
  color: #fff;
  font-variant-numeric: lining-nums tabular-nums;
  font-family: Cera Round Pro;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 41.6px */
  letter-spacing: 1.28px;
  text-transform: capitalize;
}
.father__foot .work__foot p {
  padding: 10px 0;
  color: #fff;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 100;
  line-height: 26px;
  letter-spacing: 0.64px;
}