* {
  margin: 0;
  padding: 0;
} 

*, *::before, *::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
}

a {
  text-decoration: none;
}