@font-face {
  font-family: Cera Round Pro;
  src: url(../../fonts/cera-round-pro-free-font/Demo_fonts/Fontspring-DEMO-ceraroundpro-black.otf);
};
@font-face {
  font-family: Cera Round Pro;
  src: url(../../fonts/cera-round-pro-free-font/Demo_fonts/Fontspring-DEMO-ceraroundpro-bold.otf);
};
@font-face {
  font-family: Cera Round Pro;
  src: url(../../fonts/cera-round-pro-free-font/Demo_fonts/Fontspring-DEMO-ceraroundpro-black.otf);
};
@font-face {
  font-family: Cera Round Pro;
  src: url(../../fonts/cera-round-pro-free-font/Demo_fonts/Fontspring-DEMO-ceraroundpro-light.otf);
};
@font-face {
  font-family: Cera Round Pro;
  src: url(../../fonts/cera-round-pro-free-font/Demo_fonts/Fontspring-DEMO-ceraroundpro-medium.otf);
};
@font-face {
  font-family: Cera Round Pro;
  src: url(../../fonts/cera-round-pro-free-font/Demo_fonts/Fontspring-DEMO-ceraroundpro-regular.otf);
};
@font-face {
  font-family: Cera Round Pro;
  src: url(../../fonts/cera-round-pro-free-font/Demo_fonts/Fontspring-DEMO-ceraroundpro-thin.otf);
};

@font-face {
  font-family: Open Sans;
  src: url(../../fonts/Open_Sans/static/OpenSans-Light.ttf);
};
@font-face {
  font-family: Open Sans;
  src: url(../../fonts/Open_Sans/static/OpenSans-Regular.ttf);
};
@font-face {
  font-family: Open Sans;
  src: url(../../fonts/Open_Sans/static/OpenSans-Medium.ttf);
};

@font-face {
  font-family: Open Sans;
  src: url(../../fonts/Open_Sans/static/OpenSans-SemiBold.ttf);
};
@font-face {
  font-family: Open Sans;
  src: url(../../fonts/Open_Sans/static/OpenSans-Bold.ttf);
};